.liteam{
    list-style-type: none;
}

#corps{
    margin-left: 15px;
}

.smallT{
    font-size: x-large;
}

th, td {
    width: 10rem;
    text-align: center;
    padding: 0.4rem;
}

table, th, td {
    border: 1px solid black;
}

.tdb{
    font-weight: bold;
}
