{% extends "layout.html.twig" %}

{% block body %}
    {{ message }}
    <hr>
    {% if path == '_meetingdetails' %}
        <a href={{ path(path,{'id':id}) }}>Ok</a>
    {% else %}
        <a href={{ path(path) }}>Ok</a>
    {% endif %}
{% endblock %}