/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/bin/
composer.lock
/web/assets/vendor
/web/bundles/
.idea/
/Documentation/classes
Documentation/css
Documentation/files
Documentation/font
Documentation/graphs
Documentation/images
Documentation/js
Documentation/namespaces
Documentation/phpdoc-cache-*
Documentation/reports
tests/
var/
/phpDocumentor.phar
