{% extends "layout.html.twig" %}

{% block body %}
    <p>login page</p>
    <hr>
    <label for="username">Username:</label>
    <input type="text" id="username" name="login_username" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="login_password" />
{% endblock %}
