{% extends './layout.html.twig' %}

{% block stylesheet %}
    @import '../../../web/css/adminpage.css';
{% endblock %}

{% block body %}
    <p>admin page</p>
    <hr>
    <a href={{ path('_newuser') }}>New user</a>
    |
    <a href={{ path('_newproject') }}>New project</a>
{% endblock %}
