{% extends "layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/adminpage.css') }}" >
{% endblock %}

{% block body %}
    <p>user page for admin</p>
    <hr>
    <a href={{ path('_newuser') }}>new user</a></li>
    <hr>
    <ul>
        {% for user in listuser %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}