{% extends "layout.html.twig" %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('assets/css/adminpage.css') }}" >
    </head>
    <div id="usercorps">
        <a href={{ path('_newuser') }}>New User</a></li>
        <hr>
        {% for user in listuser %}
            <li class="liu">{{ user.username }}</li>
        {% endfor %}
    </div>
{% endblock %}