{% extends './layout.html.twig' %}

{% block body %}
    <p>admin page</p>
    <hr>
    <a href={{ path('_newuser') }}>New User</a>
    |
    <a href="">New Project</a>
    |
    <a href="">New Team</a>
{% endblock %}
