{% extends "layout.html.twig" %}

{% block body %}
    <p>admin page : all users</p>
    <hr>
    <div id="divalluser">
        <p>all user block</p>
        <table id="tableuser">
            <tr>
                <th class="thuser">Id</th>
                <th class="thuser">User name</th>
                <th class="thuser">Is admin</th>
                <th class="thuser">Team</th>
            </tr>
            <tr>
                <td class="tduser">id</td>
                <td class="tduser">name</td>
                <td class="tduser">no</td>
                <td class="tduser">team name</td>

            </tr>
        </table>
    </div>
{% endblock %}