<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            @import '../../../web/css/main.css';
            {% block stylesheets %}{% endblock %}
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('people.png') }}" />
    </head>
    <body>
        <ul>
            <li><a class="overed" href={{ path('_team') }}>Team</a></li>
            <li><a>Admin tabs</a></li>
            <li><a class="overed" href={{ path('_adminuser') }}>User</a></li>
            <li><a class="overed" href={{ path('_adminproject') }}>Project</a></li>
            <li style="float:right"><a href="">About</a></li>
        </ul>

        {% block body %}{% endblock %}

        <footer>
            2016 &copy; Pierre Thubé solutions unlimited
        </footer>
    </body>
</html>