<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            @import './../../../web/css/style.css';
        </style>
    </head>
    <body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="./../../../src/AppBundle/Controller/SecurityController.php">Login</a></li>
        <li><a href="">Admin Page</a></li>
        <li style="float:right"><a href="">About</a></li>
    </ul>
        {% block body %}{% endblock %}
        <footer>
            2016 &copy; Pierre Thubé solutions unlimited
        </footer>
    </body>
</html>