{% extends './layout.html.twig' %}

{% block body %}
    <div class="content">
        <div class="block">
            <p>Hello World, welcome on TeamManagment website !</p>
            <img src="{{ asset('images/welcomepage.jpg') }}">
            <a href={{ path('_loginpage') }} class="button"><span>Login</span></a>
        </div>
    </div>
{% endblock %}