{% extends "layout.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.description) }}
        {{ form_row(form.deadline) }}
        <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}